rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /portfolios/{userId=**} {
      allow read, list; // if request.auth.uid != null
      allow create, update, delete: if request.auth.uid == userId;
    }
  }
}